:root {
    --section-font: 'Coda', cursive;
    --text-font: 'Montserrat', sans-serif;
    --dark-green: #0E1F27;
    --white: rgb(255, 255, 255);
    --light-blue: #B2D9EB;
}

h1 {
    margin-bottom: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
}

.section-heading {
    display: block;
    margin-bottom: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-green);
    font-family: var(--text-font);
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}